.icons button {
	 float: left;
     width: 33.3333%;
	}
.Evalute button{
    margin-left: 46%;
}
.Experience .hr{
	width: 58%;
    margin-left: -3%;
}
.Activities .hr{
	width: 58%;
    margin-left: -3%;
}